variable "aws_region" {
  description = "AWS region"
  type        = string
  default     = "{{ aws_region }}"
}

variable "aws_name_tag" {
  description = "Name tag for instances"
  type        = string
  default     = "{{ aws_name_tag }}"
}

variable "aws_instance_size" {
  description = "EC2 instance type"
  type        = string
  default     = "{{ aws_instance_size }}"
}

variable "aws_instance_count" {
  description = "Number of instances to create"
  type        = number
  default     = {{ aws_instance_count }}
}

variable "aws_instance_public_key" {
  description = "SSH public key for instances"
  type        = string
}

variable "server_role" {
  description = "Server role tag (ex: webserver, appserver)"
  type        = string
  default     = "{{ server_role }}"
}

variable "server_group" {
  description = "Server group/application tag (ex: webservers, app_tier)"
  type        = string
  default     = "{{ server_group }}"
}
