[Unit]
Description=Promtail Log Collector
After=network.target

[Service]
User=promtail
ExecStart=/usr/local/bin/promtail-linux-arm64 --config.file=/etc/promtail/config.yml
Restart=on-failure

[Install]
WantedBy=multi-user.target

